<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdRw7d215lhzTAD012Z2qptiTfTDvt5vo</string>
	<key>GCM_SENDER_ID</key>
	<string>933945179471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCleanArchitectureSpotify</string>
	<key>PROJECT_ID</key>
	<string>winter-spotify</string>
	<key>STORAGE_BUCKET</key>
	<string>winter-spotify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933945179471:ios:c7bcc5a5894d07387b193a</string>
</dict>
</plist>